.login-form-container {
  width: 85%;
  max-width: 400px;
  margin: 3rem auto;
  padding: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.login-form-container h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  color: #333;
}

.login-form-container form {
  margin-bottom: 1rem;
}

.email-input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.continue-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.continue-button:hover {
  background-color: #45a049;
}

.login-form-container p {
  margin-bottom: 0.8rem;
}